.questions{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.newer-question{
    margin-top:20px;
}
.help_video{
    display: block;
    margin-left: auto;
    margin-right: auto 
}