{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <h1 class="text-center">ALL STORIES</h1>
</div>
<div class="row">
    {% for blog in blogs %}
    <a href="{% url 'hc-single_blog' blog.id%}">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 blog_col">
    <h4>{{blog.category}}</h4>    
    <h1>{{blog.title|title}}</h1>
    <h4 class="blogs_details">Published on: {{blog.created_on}}</h4>
    </div>
    </a>
    {% empty %}
    <h1 class="text-center">NO BLOGS AVAILABLE</h1>
    {% endfor %}
</div>
<div class="row">
    <a href="{% url 'hc-new-blog'%}"><button class="btn btn-success text-center">ADD BLOG POST</button></a>
</div>

{% endblock %}

