{% extends "base.html"%}
{% load staticfiles %}

{%block content%}
<div class="row">
    <h1 class="text-center">Frequently Asked Questions</h1>
</div>
<div class="row questions text-center">
    <button id="first_button" class="btn btn-group-lg">+ WHAT DOES HEALTHCHECKS DO?</button>
    <div class="row" id="firstQuestion">The platform monitors your cron jobs and notifies you when they fail</div>
</div>

<div class="row questions text-center newer-question">
    <button id="second_button" class="btn btn-group-lg">+ WHAT IS A CRON JOB?</button>
    <div class="row" id="secondQuestion">This are tasks that are created on your server to run automatically after a period of time</div>   
</div>

<div class="row questions text-center newer-question">
    <button id="third_button" class="btn btn-group-lg">+ IS IT FREE?</button>
    <div class="row" id="thirdQuestion">The free plan will get you 20 checks but you can pay a monthly subscription to get more.<a href="https://healthchecks.io/pricing/">Check here</a></div>   
</div>

<div class="row">
    <h1 class="text-center">Helpful videos</h1>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/faq.js' %}"></script>
{% endblock %}