.form_row{
    margin-left: 50px;
    margin-right: 50px;
}
.blog_details{
    margin-top:5px;
    margin-bottom:5px 
}
a{
    color:inherit;
}
.single_blog_row{
    margin-left: 80px;
    margin-right: 80px;
}
.add_blog{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
}